@(title : String)
<head>
    <meta charset="UTF-8">
    <title>@title</title>
    <link rel="stylesheet" href="/assets/lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/lib/datatables/media/css/dataTables.bootstrap4.css">
    <script src="/assets/lib/datatables/media/js/dataTables.bootstrap4.js"></script>
    <script src="/assets/lib/jquery/jquery.min.js"></script>
    <script src="/assets/lib/popper.js/umd/popper.min.js"></script>
    <script src="/assets/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/lib/cascading-dropdown/jquery.cascading-drop-down.min.js"></script>
    <script src="/assets/lib/datatables/media/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="/assets/stylesheets/navbarStyle.css">
</head>