<nav class="navbar sticky-top navbar-light">
    <a href="/home" class="navbar-brand"><h1 class="display-4">CM</h1></a>
    <div class="btn-group">
        <a href="/vehicles" type="button" class="btn btn-lg">My Garage</a>
        <button type="button" class="btn btn-lg dropdown-toggle dropdown-toggle-split"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu bg-dark">
            <a class="dropdown-item text-light" href="/vehicles">My Vehicles</a>
            <a class="dropdown-item text-light" href="/vehicleadd">Add a Vehicle</a>
        </div>
    </div>
</nav>