@(vehicle : VehicleDetail, vehicles : List[VehicleDetail], makes : List[Make])
@doctype.render
<html lang="en">
    @header.render("Editing " + vehicle.getVehicleTitle)
    <head>
        <link rel="stylesheet" href="/assets/stylesheets/backgroundStyle3.css">
    </head>
    <body>
        <div class="bg">
            @navbar.render
            <div class="container">
                <p><h4 class="display-4" align="center">Editing @vehicle.getVehicleTitle</h4></p>
                <br>
                <br>
                <form method="post" enctype="multipart/form-data" class="form-inline">
                    @helper.CSRF.formField
                    <input type="text" value="@vehicle.getNickname" placeholder="nickname" name="nickname">
                    <select name="vehicleYear">
                        @for(i<-2020 to 1900 by -1){
                        <option value="@i" @if(vehicle.getVehicleYear==i){selected}>@i</option>
                        }
                    </select>
                    <select name="make" class="cascadingDropDown" data-group="product-1" data-id="make"
                            data-target="model" data-url="/data/models" data-replacement="container1">
                        @for(make<-makes){
                        <option value="@make.getMakeId" @if(vehicle.getMakeId==make.getMakeId){selected}>
                            @make.getMakeName
                        </option>
                        }
                    </select>
                    <select name="model" class="cascadingDropDown" data-group="product-1" data-id="model"
                            data-target="submodel" data-url="/data/submodels" data-replacement="container1"
                            data-default-label="Select Model">
                        <option value="@vehicle.getModelId" selected>@vehicle.getModelName</option>
                    </select>
                    <select name="submodel" class="cascadingDropDown" data-group="product-1" data-id="submodel"
                            data-replacement="container1" data-default-label="Select Submodel" data-final>
                        <option value="@vehicle.getSubmodelId" selected>@vehicle.getSubmodelName</option>
                    </select>
                    <input type="text" value="@vehicle.getVIN" placeholder="VIN" name="VIN">
                    <select name="tradedForVehicleId">
                        <option value="@vehicle.getTradedForVehicleId" selected>@vehicle.getTradedForTitle</option>
                        <option value="0">N/A</option>
                        @for(vehicle<-vehicles){
                        <option value="@vehicle.getVehicleId">@vehicle.getVehicleTitle</option>
                        }
                    </select>
                    <input type="submit" class="btn btn-secondary" value="Save">
                </form>
            </div>
        </div>
        <script type="text/javascript" src="/assets/javascripts/cascading-drop-down.js"></script>
    </body>
</html>