@(vehicles : List[VehicleDetail])
@doctype.render
<html lang="en">
    @header.render("My Garage")
    <head>
        <link rel="stylesheet" href="/assets/stylesheets/backgroundStyle1.css">
    </head>
    <body>
        <div class="bg">
            @navbar.render
            <div class="container">
                <br><br><br><br><br><br>
                <table id="table_id" class="table table-striped table-bordered table-light">
                    <thead>
                        <tr>
                            <th align="left">Nickname</th>
                            <th align="left">Year</th>
                            <th align="left">Make</th>
                            <th align="left">Model</th>
                            <th align="left">Submodel</th>
                            <th align="left"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @for(vehicle<-vehicles){
                        <tr>
                            <td>@vehicle.getNickname</td>
                            <td>@vehicle.getVehicleYear</td>
                            <td>@vehicle.getMakeName</td>
                            <td>@vehicle.getModelName</td>
                            <td>@vehicle.getSubmodelName</td>
                            <td><a href="/vehicle/@vehicle.getVehicleId">Details</a></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <script type="text/javascript" src="/assets/javascripts/datatable.js"></script>
    </body>
</html>